@media (max-width: 1200px) {
  .header-upper .header-lg {
    display: none;
  }

  #about .about-image {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .header-upper .header-mobile {
    display: none;
  }

}

@media (max-width: 992px) {
  .header-upper .btn-search {
    color: #000 !important;
  }
  .header-upper .navbar-collapse .nav-link {
    color: #000;
  }
  .header-upper .navbar-collapse .nav-link:hover {
    color: var(--green) !important;
  }

  .main-footer {
    padding-top: 180px;
  }
  .main-footer .footer-content {
    text-align: center;
  }
  .main-footer .footer-content .content {
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .categories-wrapper .box-1 img {
    width: 140px;
    height: 170px;
  }

  .categories-wrapper .box-2 img {
    width: 100%;
    height: 166px;
  }
  .categories-wrapper .box-3 img {
    width: 200px;
    height: 190px;
  }
}
@media (max-width: 576px) {
  .main-header a {
    font-size: 14px !important;
  }
  #blogs .blog-item {
    margin: 20px 40px;
  }
}
